
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1481198037748'); /* IE9*/
  src: url('iconfont.eot?t=1481198037748#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1481198037748') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1481198037748') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1481198037748#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou:before { content: "\e62c"; }

.icon-jingxuan:before { content: "\e620"; }

.icon-tianjia:before { content: "\e61e"; }

.icon-2:before { content: "\e601"; }

.icon-duihaocheckmark17:before { content: "\e770"; }

.icon-books:before { content: "\e6d5"; }

.icon-sousuolan-sousuo:before { content: "\e667"; }

